<!DOCTYPE html>
<html lang="en">
<!-- <head>
  </head>
  <body>
    <h1>Congratulations!!!</h1>
    <p>You did it!</p>

<img src="{{ user_image }}"  width="500" height="400">
    <h1>This is image "{{result}}"</h1>
    </body>
</html> -->

  <head>
    <title>Centered Content</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <div style="text-align: center;">
      <h1>Congratulations!!!</h1>
      <p>You did it!</p>
      <img src="{{ user_image }}" width="500" height="500" style="margin-bottom: 2cm;" >
      <h1 style="color: red;">This is image "{{result}}"</h1>
    </div>
  </body>
</html>